@page
@model CIS325_Master_Web.Pages.Demos.Module4.FlaglerAdvising.Schedules.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Term)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Term)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.DayOfWeek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.DayOfWeek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Student.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Course.Code)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Schedule.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
