@page
@model CIS325_Master_Web.Pages.Demos.Module4.FlaglerAdvising.Schedules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
